[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruffus = "*"
pandas = "*"
pyyaml = "*"

[dev-packages]
responses = "*"
pytest = "*"
autopep8 = "*"
urllib3 = "*"

[requires]
python_version = "3.7.4"
